body {
  font: $font-stack;
  color: $color-text-main;
  font-weight: 200;
}

.gap-top {
  margin-top: $gap-normal;
}

.gap-bottom {
  margin-bottom: $gap-normal;
}

.gap-right {
  margin-right: $gap-normal;
}

.hide {
  display: none;
}

.has-error .dropdown button {
  border-color: $color-error;
}

/* CUSTOMIZE PAGINATION
-------------------------------------------------- */
.page {
  .pagination {
    //margin-left: 75%;
  }
}

/* ARTICLE AREA
-------------------------------------------------- */

.article-area {
  > p {
    padding: 0;
    margin: 0;
  }
}