//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "variables";
@import "common";

/* Main
---------------------------------------------- */


.footer {
  bottom: 0;
  height: 60px;
  width: 100%;
  margin-top: $gap-normal;

  .container {
    border-top: 1px solid $color-link-light;
  }

  .text-footer {
    margin: $gap-normal 0;
  }
}

.label {
  font-size: 100%;
  font-weight: 100;
}

/* NAVIGATION
-------------------------------------------------- */

.navbar {
  margin: 0;
}

.color-line {
  height: 2px;
  background: -webkit-linear-gradient(left, #3023AE, #BDE3F5, #B4EC51); /* Safari 5.1-6.0 */
  background: -o-linear-gradient(right,  #3023AE, #BDE3F5, #B4EC51); /* Opera 11.1-12.0 */
  background: -moz-linear-gradient(right,  #3023AE, #BDE3F5, #B4EC51); /* Firefox 3.6 -15 */
  background: linear-gradient(to right,  #3023AE, #BDE3F5, #B4EC51); /* Standard syntax */
}

.navbar-july {
  border: 0;
}

/* CAROUSEL
-------------------------------------------------- */

$height_carousel: 500px;

/* Carousel base class */
.carousel {
  height: $height_carousel;
  margin-bottom: 60px;

  .item {
    height: $height_carousel;
    background-color: #FFFFFF;

    img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: $height_carousel;
    }
  }
}

/* Carousel base class */

.carousel-indicators {
  li {
    border-color: $color-link;
  }
  .active {
    background-color: $color-link;
  }
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: $mini-z-index + 5;
  color: $color-text-main;

  p {
    text-shadow: none;
  }
}

.carousel-control {
  .fa {
    right: 50%;
    top: 50%;
    display: inline-block;
    position: absolute;
    z-index: $mini-z-index;
    color: $color-text-main
  }

  &.left {
    background-image: none;
  }

  &.right {
    background-image: none;
  }
}

/* RECOMMENDED
-------------------------------------------------- */

.col-lg-3 {
  text-align: center;

  a {
    display: inline-block;

    img:hover {
      border: 1px solid $color-link-light;
    }
  }
}

/* DETAIL
-------------------------------------------------- */
.detail {
  .col-lg-6 {
    text-align: center;

    img {
      margin: 0 auto;
    }

    .gallery {
      padding-left: 0;
      margin-top: $gap-normal;
      display: inline-block;
      > li {
        display: inline-block;
        a {
          font-size: 48px;
          vertical-align: middle;
        }
      }
    }

    .attribute {
      .btn {
        font-weight: 100;
      }
    }
  }
}

/* CART
-------------------------------------------------- */

.cart {
  table {
    td {
      vertical-align: middle;
    }
  }
}